<a href="https://colab.research.google.com/github/gani88/ML-DataScience/blob/main/Football_Manager_Predict_CA_using_RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load Library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [3]:
# Load data
att_data_path = "/content/variables.csv"
att_data = pd.read_csv(att_data_path)

In [6]:
# Cleaning Data
att_data = att_data.dropna(axis=0)

In [12]:
att_data.describe()

,Unnamed: 0,Apps,Mins,Mins/Gm,Height,Weight,Age,Av Rat,Gls,Gls/90,...,PoM,Aer A/90,Off,Tck R,CA,Saves,Saves/xSv%,Gls/xG,Dist/Mins,Value
count,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,...,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1.122000e+03
mean,560.500000,15.141711,1316.806595,86.807756,184.462567,77.819073,26.285205,7.008619,0.735294,0.050749,...,0.699643,7.211863,1.004456,0.708048,118.131016,6.644385,-0.126522,1.285594,0.105984,1.154190e+07
std,324.037806,5.617806,503.889389,5.570130,6.632774,7.308194,3.350308,0.219185,1.143723,0.078479,...,0.970474,5.339191,1.607570,0.296538,20.183011,16.967017,0.953465,5.297611,0.035512,3.039308e+07
min,0.000000,11.000000,756.000000,63.000000,161.000000,56.000000,18.000000,6.360000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,70.000000,0.000000,-14.689266,0.000000,0.000930,7.500000e+02
25%,280.250000,12.000000,1012.500000,84.165385,180.000000,73.000000,24.000000,6.860000,0.000000,0.000000,...,0.000000,3.062500,0.000000,0.670000,103.000000,0.000000,0.000000,0.000000,0.075932,1.650000e+05
50%,560.500000,14.000000,1170.000000,88.522727,185.000000,78.000000,26.000000,7.000000,0.000000,0.000000,...,0.000000,6.270000,0.000000,0.810000,117.000000,0.000000,0.000000,0.000000,0.116071,1.265000e+06
75%,840.750000,16.000000,1412.250000,90.000000,189.000000,82.000000,29.000000,7.150000,1.000000,0.080000,...,1.000000,12.662500,1.000000,0.897500,130.000000,0.000000,0.000000,1.282051,0.134018,6.537500e+06
max,1121.000000,50.000000,4514.000000,115.363636,204.000000,106.000000,39.000000,8.170000,9.000000,0.570000,...,8.000000,19.780000,13.000000,1.000000,180.000000,144.000000,0.469411,100.000000,0.160410,3.045000e+08

In [13]:
att_data.columns

Index(['Unnamed: 0', 'Name', 'Apps', 'Mins', 'Mins/Gm', 'Height', 'Weight',
       'Age', 'Av Rat', 'Gls', 'Gls/90', 'Shot %', 'Pen/R', 'xG', 'Ch C/90',
       'Asts/90', 'K Ps/90', 'Pas %', 'Cr C/A', 'Drb/90', 'Distance', 'Hdr %',
       'K Tck', 'Fls', 'Int/90', 'Clear', 'Con/90', 'xSv %', 'Sv %', 'Svh',
       'Svt', 'Svp', 'Pens Saved Ratio', 'PoM', 'Aer A/90', 'Off', 'Based',
       'Tck R', 'CA', 'Saves', 'Saves/xSv%', 'Gls/xG', 'Dist/Mins',
       'Transfer Value', 'Value'],
      dtype='object')

In [15]:
# Target & Features
y = att_data.CA
att_data_features = ['Apps', 'Height', 'Weight', 'Age', 'Av Rat', 'Gls', 'xG']
X = att_data[att_data_features]

In [17]:
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [18]:
train_X

      Apps  Height  Weight  Age  Av Rat  Gls    xG
264   13.0   189.0    80.0   26    7.03  0.0  0.29
1004  11.0   192.0    80.0   25    6.96  0.0  0.81
101   11.0   179.0    74.0   26    6.93  0.0  0.27
352   14.0   192.0    77.0   29    7.01  0.0  1.05
613   42.0   185.0    77.0   28    7.08  4.0  0.87
...    ...     ...     ...  ...     ...  ...   ...
1033  16.0   192.0    83.0   28    7.32  0.0  0.30
763   13.0   175.0    71.0   31    6.89  0.0  0.34
835   15.0   187.0    81.0   31    6.97  3.0  1.12
559   14.0   179.0    71.0   25    7.09  0.0  0.28
684   12.0   184.0    80.0   30    7.09  0.0  0.38

[841 rows x 7 columns]

In [19]:
val_X

      Apps  Height  Weight  Age  Av Rat  Gls    xG
776   11.0   185.0    76.0   30    7.12  0.0  2.12
921   50.0   178.0    78.0   23    7.18  5.0  6.35
395   11.0   185.0    78.0   30    7.10  3.0  1.80
1015  12.0   178.0    65.0   24    6.99  1.0  0.93
511   11.0   185.0    81.0   26    7.13  0.0  0.15
...    ...     ...     ...  ...     ...  ...   ...
667   12.0   190.0    81.0   24    6.89  0.0  0.85
253   15.0   197.0    83.0   23    6.61  0.0  0.00
1018  19.0   188.0    80.0   21    7.46  2.0  1.07
522   14.0   184.0    74.0   20    6.69  0.0  0.42
721   27.0   177.0    75.0   26    7.21  0.0  1.60

[281 rows x 7 columns]

In [21]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
stat_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, stat_preds))

13.48491103202847

In [22]:
stat_preds

array([105.59, 129.69, 107.19, 116.66, 109.66, 125.8 , 108.29, 118.28,
       106.48, 117.41, 127.55, 105.82, 124.33, 136.16, 128.45, 137.49,
       121.85, 112.37, 104.5 , 112.1 , 117.22, 116.99, 134.8 , 124.84,
       108.23, 119.3 , 103.59, 114.42, 127.93, 108.94, 113.19, 109.52,
       122.89, 120.29, 102.37, 139.96, 110.35, 123.52, 117.26, 124.07,
       119.64, 112.67, 113.77, 116.14, 112.38, 116.69, 120.48, 106.72,
       125.42, 119.74, 123.83, 119.54, 112.13, 121.5 , 108.16, 118.05,
       116.51, 115.36, 125.43, 106.42, 114.83, 134.31, 118.1 , 140.07,
       104.75, 121.21, 107.47, 101.2 , 120.31, 105.69, 137.4 , 100.08,
       115.12, 116.49, 138.26, 113.3 , 114.42, 116.71, 114.89, 139.29,
       125.78, 112.94, 140.27, 115.17, 120.  , 142.35, 121.72, 107.95,
       120.35, 129.62, 124.01, 158.27, 118.44, 111.29, 105.33, 123.05,
       107.46, 113.96, 132.17, 116.23, 101.93, 130.25, 134.38, 140.86,
       118.98, 116.18, 144.75, 126.38, 118.47, 114.07, 107.34, 125.87,
       113.52, 149.73, 105.84, 113.23, 117.96, 130.99, 135.76, 113.12,
       112.77, 113.92, 120.18, 125.41, 109.17, 121.32, 113.48, 100.35,
        97.84, 116.81, 109.51, 138.78, 107.32, 106.2 , 107.21, 129.11,
       118.8 , 137.1 , 108.74, 116.71, 120.43, 114.73, 117.49, 117.38,
       107.53, 125.03, 120.16, 114.66, 114.32, 118.58, 103.59, 125.86,
       104.74, 113.82, 149.43, 121.22, 120.05, 120.14, 140.33, 107.  ,
       113.9 , 117.66, 114.99, 118.58, 123.98,  98.63, 136.67, 108.31,
       126.74, 116.51, 111.26, 146.66, 121.41, 145.72, 125.09, 109.19,
       117.36, 108.16, 127.44, 114.35, 118.15, 119.29, 114.92, 126.62,
       120.14, 117.69, 124.29, 115.96, 113.47, 108.12, 114.29, 120.05,
       119.74, 113.27, 118.99, 115.93, 115.02, 123.54, 104.15, 127.54,
       122.47, 116.46,  96.62, 119.85, 110.75, 112.97, 124.35, 117.14,
       115.03, 120.28, 118.04, 107.72, 117.12, 130.63, 110.3 , 108.85,
       130.8 , 114.04, 135.73, 105.64, 127.72, 133.08, 116.7 , 118.63,
       126.62, 116.6 ,  99.29, 134.15, 109.74, 114.89, 148.22, 104.25,
       103.93, 125.35, 107.69, 112.22, 136.67, 123.62, 122.43, 122.79,
       134.16, 110.71, 117.73, 121.02, 114.9 , 113.49, 112.14, 106.23,
       119.18, 134.77, 108.77, 118.16, 114.33, 119.81, 112.87, 148.43,
       103.47, 117.37, 112.94, 128.65, 111.7 , 127.93, 126.14, 110.43,
       120.86, 108.97, 113.89, 114.73, 111.32, 132.6 , 111.3 , 142.5 ,
       118.33, 116.03, 153.91, 120.04, 115.57, 113.62, 147.37, 109.82,
       128.13])